/*  
DAMIAN MOSQUERA
*/



html, body {
    /*background-color: #e2e2e2;/*D5D5D5;*/
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
    line-height:1em;
    padding-left:5px;
    padding-right:5px;
}
table th, table td{
    
}
.dataTables_filter input{
    color: #417EC1;
    font-weight: bold;
    background-color: #DCF1F6;
    border-radius: 0em;
}
.tdBl{
    background-color:#DCF1F6;
    border:1px solid white;
}

.Cursor{
    cursor: pointer;
}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}

/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
} 

.ContentPanel{
    background-color:#D5D5D5;
}
.dropdown-menu li{
    color:#000000;
}      

.BlackFont{
    color:#000000;
    font-weight: bold;
}
.TitleSection{
    font-size: x-large;
}

.CenterText{
    text-align:center;
}
.IconSize{
    font-size:20px;
}
.IconSize-xl{
    font-size:30px;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: bold;
    font-size: 22px;
}
.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
    color:#1B4075;
}
.separator::before {
    margin-right: .25em;
}
.separator::after {
    margin-left: .25em;
}
.modal-footer{
    justify-content: center;
}

.ContenedorUser{
    /*background-image: url('../images/Bar.png');*/
    background: rgba(61,182,43,1);
    background: -moz-linear-gradient(left, rgba(61,182,43,1) 0%, rgba(61,182,43,1) 5%, rgba(71,165,29,1) 34%, rgba(83,145,13,1) 67%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(61,182,43,1)), color-stop(5%, rgba(61,182,43,1)), color-stop(34%, rgba(71,165,29,1)), color-stop(67%, rgba(83,145,13,1)));
    background: -webkit-linear-gradient(left, rgba(61,182,43,1) 0%, rgba(61,182,43,1) 5%, rgba(71,165,29,1) 34%, rgba(83,145,13,1) 67%);
    background: -o-linear-gradient(left, rgba(61,182,43,1) 0%, rgba(61,182,43,1) 5%, rgba(71,165,29,1) 34%, rgba(83,145,13,1) 67%);
    background: -ms-linear-gradient(left, rgba(61,182,43,1) 0%, rgba(61,182,43,1) 5%, rgba(71,165,29,1) 34%, rgba(83,145,13,1) 67%);
    background: linear-gradient(to right, rgba(61,182,43,1) 0%, rgba(61,182,43,1) 5%, rgba(71,165,29,1) 34%, rgba(83,145,13,1) 67%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3db62b', endColorstr='#53910d', GradientType=1 );
    height: 50px;
    border-radius:2em;
}

.nameUser{
    color:white;
    font-weight: bold;
    font-size: large;
    padding-left:5px;
}
.jobUser{
    color:white;
    padding-left:5px;
    
}

.tooltip-inner {
    background-color: #F5FAFA;
    color:black;
    font-weight: bold;
}
.IconBarMenu{
    height: 35px;
}
.BarLineTd{
    border-right: 2px solid #65B42A;
}
.IconMenuBar{
    width:150px;
    height: 150px;
    border:1px solid black;
    border-radius: 50%;
    background-image:url('../images/menu/circle.png');
}

.container {
  position: relative;
}

.overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.container:hover .overlay {
  opacity: 1;
}


.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.DatosList{
    
}
.ListOpcionSubMenu a{
    color:#6E6E6E;
    font-weight: bold;
}
.dropdown-item:hover{
    color:#CC2228;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}
.contentHeader{

    width:100%;
}
.Tittle{
    color:#213E70;
    font-weight: bold;
    font-size:20px;
    text-align: right;
    vertical-align: middle;
}
.Tittle2{
    color:#213E70;
    font-size:20px;
    text-align: right;
    vertical-align: middle;
}
.TittleGeneral{
    color:#213E70;
    font-size:13px;
    vertical-align: middle;
}
.contenedor{
    width: 1080px;
    margin: auto;
    background: black;
    color: bisque;
    padding: 20px 15px 50px 50px;
    border-radius: 10px;
    box-shadow: 0 10px 10px 0px rgba(0, 0, 0, 0.8);
}

.contenedor .titulo{
    font-size: 3.5ex;
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#pestanas {
    float: top;
    font-size: 3ex;
    font-weight: bold;
}

#pestanas ul{
    margin-left: -40px;    
}

#pestanas li{
    list-style-type: none;
    float: left;
    text-align: center;
    margin: 0px 2px -2px -0px;
    background: darkgrey;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: 2px solid bisque;
    border-bottom: dimgray;
    padding: 0px 20px 0px 20px;
}

#pestanas a:link{
    text-decoration: none;
    color: bisque;
}

#contenidopestanas{
    clear: both;  
    background: dimgray;
    padding: 20px 0px 20px 20px;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border: 2px solid bisque;
    width: 1025px;
}
.InputDark{
    background-color: #8B98AF;
    color:white;
}
.BoldFont{
    font-weight: bold;
}
.ContentFooter{
    background-color: #95C9DF;
    position: fixed;
    left:0px;
    bottom: 25px;
    width: 750px;
    height: 60px;
    color: white;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
}
.ContentFooter #TableMenu{
    position: absolute;
    left:0px;
    bottom: 0;
    top:-45px;
    height: auto;
    z-index: 1;
}
#TableMenu td{
    border:0px;
    padding-bottom: 10px;
}
.ContentHeader td{
    padding-bottom: 0px;
}
.IconMenuImg{
    height: 100px;
    position:relative;
    top:10px;
}
.ViewMenu i{
    position:relative;
    top:40px;
    color:white;
}
.MenuOptionP:hover .HoverEvent{
    display:block;
}

.DivCircular{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 5px dotted #18386A;
    padding:5px;
}
.DivCircularModulos{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 5px solid #18386A;
    background-color:#18386A;
    padding:5px;
    margin:0px auto;
}
.DivCircularModulos .ContenedorLink{
    position:relative;
    top:20%;
    text-align:center;
    width:100%;
    color:white;
}
.ContenedorLink a {
    color:white;
    font-weight: 600;
}

.DivCircular2{
    height: 250px;
    width: 250px;
    border-radius: 50%;
    border: 5px dotted #F3742C;
    padding:5px;
}


.NumPendientes {
    position: relative;
    left: 0px;
    top: -20PX;
    background-color: #F47629;
    width: 18px;
    height: 18px;
    border-radius: 1em;
    color: white;
    font-weight: bold;
}

td.old.day {
    border: 0px;
    background-color: white;
}

.DivCircularInterno{
    height: 290px;
    width: 290px;
    background-color: #18386A;
    border-radius: 50%;
}
.DivCircularInterno2{
    height: 240px;
    width: 240px;
    background-color: #F3742C;
    border-radius: 50%;
}
.DivCircularInterno{
    height: 300px;
    width: 300px;
    background-color: #1B4075;
    border-radius: 50%;
}
.MenuOptionP .HoverEvent {
    display: none;
    position: relative;
    width: auto;
    height: 50px;
    top: -100px;
    left: 150px;
}
.container{
    padding:0px;
    margin: 0px;
    padding-bottom: 150px;
}
.table th{
    vertical-align: middle;
    text-align: center;
    color:white;
    background-color:#5AC7DE;
    white-space:nowrap;
}
.tableG th{
    vertical-align: middle;
    text-align: center;
    color:white;
    background-color:#5AC7DE;
    white-space:nowrap;
}
.table td{
    vertical-align: middle;
    border:none;
}
.tableG td{
    vertical-align: middle;
}
.tableG td, .tableG th{
    font-size:14px;
}
.tableG th{
    padding:5px;
}
.tableG td{
    padding:5px;
}
.table th:first-child, .tableG th:first-child{
    border-top-left-radius: 0.5em;
}
.table th:last-child, .tableG th:last-child{
    border-top-right-radius: 0.5em;
}
.OptionsButtons{
    color:#213E70;
    font-weight: bold;
    text-align: right;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
}
#tabs li{
    background-color: #BFE6F3;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
    color:#1B4075;
}

.OkProceso{
    background-color: background-color:rgba(83,145,13,1);
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited,#tabs li:active,#tabs li a:active,.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover{
    background-color: #213E70;
    color:white;
    font-weight: bold;
    border:0px;
    border-top-left-radius: 3em;
    border-top-right-radius: 3em;
}
.ui-widget-header{
    background-color:white;
    border:0px;
}
.ListDocument tr{
    background-color:#f3eded;
    margin:2px;
    border-spacing: 10px;
    
}
.content_modal label{
    
    /*background-color: #DCDFE4;*/
}

.form-group label, .form-group select, .form-group input{
    font-size:16px;
    border-radius:0em;
}
 .form-group select, .form-group input, input::placeholder, .form-group textarea{
    color:#417EC1;
    font-weight: 500;
    background-color:#DCF1F6;
    border-radius:1em;
    border-radius:0em;
    border:0px;
}
select > option:active{
    border:1px solid red;
}
.select-items div,.select-selected{
    color: #ffffff;
  padding: 8px 16px;
  border: 1px solid black;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}
.dataTable th, .dataTable td{
    
}
.AlignRigth{
    text-align: right;
    vertical-align: middle;
}
.PaddingTop{
    padding-top: 5px;
}
.dataTable th, .dataTable td{
    font-size:12px;
}
.form-control:disabled, .form-control[readonly] {
    color:#437DC2;
    font-weight: 490;
    background-color:#DCF1F6;
    border-radius:0em;
    border:0px;
    font-weight: bold;
    font-size:14px;
}


.ContentHeader td {
    border:0px;
}
.Subtitulos{
    font-weight: bold;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
    
}
.ListFlias td {
    color:black;
    border:0px;
}
#loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

#calendar {
  width:90%;
  margin: 40px auto;
}
div .TituloModulo{
    position: relative;
    left: 70%;
}

.col-sm-2 label,.col-sm-3 label,.col-sm-4 label,.col-sm-12 label,.col-sm-10 label,
.col-sm-auto label,.col-sm-6 label{
   color:#1B4075;
   font-weight: bold;
}

.separator, .Subtitulos p{
    color:#1B4075;
}

.ui-tabs-vertical .ui-tabs-nav { padding: .1em .1em .1em .1em; float: left; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-bottom-width: 1px !important; border-right-width: 0 !important; margin: 0 -1px .2em 0; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { padding: 1em; float: right; width: 53em;}

.ContentMenuFlia{
}
.ContenidoMenuFlia{
    height: 470px;
    width:100%;
    overflow-y:auto; 
    overflow-x:hidden; 
}
.ListMenu {
    padding: 5px;
}
.ListMenu li{
    text-decoration: none;
    list-style:none;
    padding:5px;
    margin:5px;
    color:white;
    cursor:pointer;
}
.ContentTabs{
    padding-left:10px;
    padding-top:0px;
    vertical-align: baseline;
}
.ListMenu li:hover{
    background-color:#5AC7DE;
    color:white;
}
.MenuTabs{
    background-color:#284473;
    vertical-align: baseline;
    align-content: center;
    width:300px;
}

body{
    overflow-y: hidden;
    /*background-image: url("../image/fondo.png");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover; 
    background-color:white;*/
}
::-webkit-scrollbar {
    background-color:transparent;
    width:2px;
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
    background-color:transparent;
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
    background-color:#babac0;
    border-radius:2px;
    
}



.dataTable tr > td, .tableG tr > td{
    padding-top:10px;
    padding-bottom:10px;
}


.ListDocumentC td{
    padding:2px;
    background-color:#BFE6F3;
    color:black;
    border:1px solid white;
}
.ListDocumentC tr > td:first-child{
    border-top-left-radius: 0.5em;
}
.ListDocumentC tr > td:last-child{
    border-top-right-radius: 0.5em;
}
.ListDocumentC tr > td:first-child{
    border-bottom-left-radius: 0.5em;
}
.ListDocumentC tr > td:last-child{
    border-bottom-right-radius: 0.5em;
}

.ListDocumentC tr > td{
    border-bottom:5px solid white;
    border-top:5px solid white;
    padding-top:10px;
    padding-bottom:10px;
}

.ListDocumentC th, .ListDocumentC td{
    font-size:13px;
}



.ContainerUbicacion{
    background-color:white;
    border-radius:0.5em;
    border:1px solid #E8ECF8;
    padding:5px;
}
.datepicker-days{
    width:auto;
    padding:5px;
}
.datepicker-days td,.datepicker-switch,span.month,span.year{
    padding:8px;
    text-align:center;
    color:black;
    font-weight: 500;
    cursor:pointer;
    border:1px solid white;
    border-radius:0.5em;
}
.datepicker-days td:hover,.datepicker-switch:hover,span.month:hover,span.year:hover{
    color:black;
    border-radius: 0.5em;
}
th.datepicker-switch {
    text-align:center;
}

td.old.day , td.new.day{
    border: 0px;
    background-color: white;
    color: #e6adad;
}
.datepicker-days .dow {
    text-align: center;
}

.custom-file{
    width:auto;
}


@media (min-width: 1200px){
   .modal-xl {
        max-width: 1240px;
    } 
}


.ContenedorReportes{
    border:1px solid #BFC5CA;
    border-radius: 1em;
    paddding: 10px;
}
.Detallegrafica td{
    font-size:12px;
    padding:5px;
    background-color:#eaeaea;
    color:#57595a;
    border:1px solid white;
}
.ContenedorReportes .TitulosTablasrEPORTES{
    background: linear-gradient(90deg, rgba(98,58,108,1) 0%, rgba(161,22,22,0.5247141092765231) 100%, rgba(0,212,255,1) 100%);
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    padding:10px;
    color:white;
    text-align: center;
}
.Detallegrafica th{
    font-size:11px;
    background: linear-gradient(70deg, #B64F7C, #E87B87);
    border:1px solid white;
    padding:3px;
    color:white;
    text-align: center;
}
.Detallegrafica th:first-child{
    border-top-left-radius: 1em;
}
.Detallegrafica th:last-child{
    border-top-right-radius: 1em;
}

.Detalle td{
    background-color:white;
    padding:10px;
    padding-top:20px;
    font-size:20px;
}
.Detalle td:first-child{
    border-bottom-left-radius: 1em;
}


.Detalle td:last-child{
    border-bottom-right-radius: 1em;
}


.ReporteContent{
    border:1px solid black;
    border-radius:0.2em;
}

.vl {
  height: 100%;
  width:auto;
  position: absolute;
  left: 0%;
  margin-left: -3px;
  top: 0;
  background-color:#1B4075;
  padding-left:8px;
  padding-right: 8px;
}
.vl table td:first-child{
    padding-top:5px;
}
.IconMenuP{
    height: 50px;
    vertical-align: middle;
    cursor:pointer;
}
.IconMenuS{
    height: 20px;
    cursor:pointer;
}
.vl2{
    height: 100%;
    width:90%;
    position:absolute;
    top:0;
    background-image: url("../image/fondouser.png");
    background-position: bottom; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    background-color:white;
    overflow: scroll;
}

.vl3{
    height: 100%;
    position:absolute;
    top:0;
    background-color:#417ec1;
    border:1px solid #417ec1;
}
.IndicadorMenu{
    position:absolute;
    top:10%;
    cursor:pointer;
}

.Menu{
    display:none;
    align-content: center;
    vertical-align: middle;
}

.FirstText{
    font-family: 'Montserrat', sans-serif;
    font-size:14px;
    font-weight: bolder;
    color:#79CBC2;
    vertical-align: middle;
    padding-left:10px;
    padding-top:10px;
}
body{
    overflow-y: auto;
}

.SecondText{
    font-family: 'Montserrat', sans-serif;
    font-size:13px;
    font-weight: bolder;
    color:white;
    vertical-align: middle;
    padding-left:10px;
    padding-top:10px;
}

.vl td{
    height:60px;
}

.MenuTop{
    position:absolute;
    left:82%;
}
.MenuTop td{
    padding:10px;
    font-weight: bolder;
    color:#7F8080;
}

.container{
    padding:0px;
}

.UserIndicator{
    position:relative;
    top:20%;
}

.Bienvenida{
    background-color:#C5E7EA;
    padding:10px;
    border:0.1em;
    color:#1B4177;
    font-size:20px;
    font-weight: 600;
    padding-left:50px;
    padding-right:50px;
}

li{
    list-style-type:none;
}
                
li a{
    text-decoration:none;
    display:inline-block;
}

nav li ul{
    display:none;
    position:relative;
    top:-200px;
    left:180px;
}


nav li:hover ul{
    display:block;
    /*padding-left:5px;*/
}

.LiPrincial{
    text-align:center;
}
.ContenedorMenuF ul{
    padding:0px;
}
.ContenedorMenuF ul li{
    
}
/*
.OpcionesMenuUsuario:hover .Menu{
    display:block;
    vertical-align:bottom;
}*/
.logIcon{
    text-align: center;
}
.ContenedorMenuF a{
    text-decoration: none;
}

li{
    list-style-type:none;
    position:relative;
}

nav li ul{
    display:none;
    position:absolute;
    top:0px;
    left:160px;
}

.logIcon{
    text-align:center;
}    

.TituloPantalla{
    font-size:20px;
    font-weight: lighter;
    border-bottom:1px solid #6D6E71;
    text-align:centeR;
}
.detalleReportesIcon td{
    color:#879094;
    font-size:8px;
    font-weight: bolder;
}
.contenedorReportesX{
    padding-left:20px;
    padding-right:20px;
    border:1px solid #417EC1;
    height: 250px;
    border-radius:0.5em;
    width:98%;
}
.contenedorReportesTitulo{
    padding-left:20px;
    padding-right:20px;
    border:1px solid #417EC1;
    border-radius:0.5em;
    width:80%;height: 60px;
    background-color:white;
    padding:5px;
}

#EstadosFamilias{
    width:auto !important;
    height:250px !important;
    align-content: center;
}

.detalleReportesIcon td{
    font-size:11px;
}
.TituloBuscador{
    COLOR:#1B4075;
    font-size:20px;
    font-weight: bolder;   
}

.Submodulos .FirstText{
    color:#1B4075;
}
.LogoSubModulo{
    position:relative;
    left:30%;
    height: 100px;
}
.OptionMenu{
    background-color:#184177;
    color:white;
    padding:5px;
    font-size:20px;
    font-weight: bolder;
    cursor:pointer;
    border:1px solid white;
    border-left: 5px solid white;
}

.MenuDetalleSubModulo:hover > .OptionMenu{
    display: block;
    border:2px solid white;
    padding:5px;
}
.OptionMenu{
    font-size:14px;
}
.MenuDetalleSubModulo .OptionMenu{
    border-left:5px solid white;
}

.tableNew, .table,.dataTable{
    width:100%;
    border-collapse: separate;
}
.tableNew th, .table th, .dataTable th{
    color: #417EC1;
    font-weight: 500;
    text-align:center;
    padding:5px;
    font-size:14px;
    padding-bottom: 5px;
}
.tableNew td, .table td, .dataTable td{
    background-color:#F1F2F2;
    color:black;
    border:1px solid #e6e4e4;
    border-spacing: 1px;
    padding:5px;
    font-size:13px;
    font-weight: 450;
}
.IconDescg{
    height: 30px;
}
.OKGreen{
    border-left:6px solid #8DC63F;
    color:#8DC63F;
}
.paginate_button,.dataTables_info{
    font-weight: bolder;
}
.datepicker {
    border-radius: 0em;
}
.SubMenus li {
    padding-left:40px;
}
.SubMenus{
    padding-left:0px;
}
#accordian ul ul{
    padding-left:15px;
}
#accordian ul ul li {
}
#accordian ul ul li:hover {
    background: #003545;
    border-left: 5px solid lightgreen;
}
#accordian ul ul li {
    padding:5px;
}
.BordeFoto{
    border:5px solid white;
}
@font-face {
    font-family: "Beloved Master";
    src: url("../webfonts/Beloved Master.ttf");
}
.MensajeFoto{
    color:#1B4075;
    
    font-family: "Beloved Master", regular;
    src: url("../webfonts/Beloved Master.ttf");
    font-weight: bold;
    font-size: 120px;
}

.dataTables_info{
    display:none;
}
.paginate_button{
    content: '';
}

#DataTables_Table_0_previous a{
    background-color:transparent;
    font-size:30px;
    position:relative;
    top:-30%;
}
#DataTables_Table_0_next a{
    background-color:transparent;
    font-size:30px;
    position:relative;
    top:-30%;
}
.paginate_button a{
    background-color:#808285;
    border:0px;
    padding:10px;
    margin:4px;
    height:10px;
    width:10px;
    border-radius:5em;
    margin:20px;
}
        
td.active.day {
    color: black;
    background-color: #DCF1F6;
}


.subtitulos_principales {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    background-color: #DBEFB0;
    border: 1px solid white;
    font-weight: 500;
    color:#656565;
}
.subtitulos_mes {
    padding: 5px;
    text-align: center;
    font-size: 12px;
    background-color: #F7EFB0;
    border: 1px solid white;
    font-weight: 400;
    color:#656565;
}
.cabecera_th {
    padding: 5px;
    text-align: center;
    background-color: #7f9fce;/*#FDBA4F;*/
    color: white;
    font-size: 12px;
    font-weight: 400;
    border: 1px solid white;
}
.cabecera_th_dark {
    padding: 5px;
    text-align: center;
    background-color: #ACB9C9;
    color: white;
    font-weight: 400;
    font-size: 12px;
    border: 1px solid white;
}
.border_top {
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    -webkit-border-top-left-radius: 1.2em;
    -webkit-border-top-right-radius: 1.2em;
    -moz-border-top-left-radius: 1.2em;
    -moz-border-top-right-radius: 1.2em;
}

.border_bottom_right {
    border-bottom-right-radius: 1.2em;
    -webkit-border-bottom-right-radius: 1.2em;
    -moz-border-bottom-right-radius: 1.2em;
}
.border_top_right {
    border-top-right-radius: 1.2em;
    -webkit-border-top-right-radius: 1.2em;
    -moz-border-top-right-radius: 1.2em;
}

.border_bottom_left {
    border-bottom-left-radius: 1.2em;
    -webkit-border-bottom-left-radius: 1.2em;
    -moz-border-bottom-left-radius: 1.2em;
}
.border_top_left {
    border-top-left-radius: 1.2em;
    -webkit-border-top-left-radius: 1.2em;
    -moz-border-top-left-radius: 1.2em;
}

.td_cuerpo_table {
    padding: 5px;
    font-size: 12px;
    background-color: rgb(229, 229, 229);
    padding: 5px 5px 5px 10px;
    border-width: 1px;
    border-style: solid;
    border-color: white;
    border-image: initial;
    text-align: left;
    font-weight: 400;
}
.alerta_positiva {
    background-color: rgba(53, 179, 36, 0.61);
    color: white;
}
.alerta_negativa {
    background-color: rgba(255, 1, 1, 0.42);
    color: white;
}
.IconBuscar{
    height:50px;
    cursor:pointer;
}

.MenusInternos{
    font-size:16px;
    padding:5px;
}