/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 3/09/2020, 04:43:55 PM
    Author     : Process
*/

:root{
    --main-width-emprendimiento-blocks:350px;
}

@font-face {
    font-family: "Josefin Sans";
    src: url("../webfonts/JosefinSans-Bold.ttf");
}
html, body {
    color: #636b6f;
    font-family: "Josefin Sans";
    src: url("../webfonts/JosefinSans-Bold.ttf");
    font-weight: 200;
    height: 100vh;
    margin: 0;
    font-size:13px;
}
ul{
    display: inline-block;
}
ul li {
    width:250px;
    display:inline;
    padding-left:3px;
    padding-right:3px;
    display: inline-block;
    border-radius:0.5em;
}

.LogoPage img{
    height: 60px;
}
.LogoPage2 img{
    height: 50px;
}
.LogoPage{
    width:100%;
    padding-left:10%;
    padding-right: 10%;
}
.ContentHeader{
    width:100%;

    padding:20px;
}
.footerPage2{
    background-image:url("../image/footer-Sennova@2x.png");
    background-size: cover;
    background-repeat: no-repeat;
    /*height: 200px;*/
    padding: 4em 0 2em 0;
}
.footerPage2 table{
    position:relative;
    top:35%;
}

.ContentInicio table{
    position:relative;
    top:85%;
}
.BtnIngreso{
    display: inline-block;
    background-color:#8CC63F;
    padding:10px;
    padding-left:50px;
    padding-right: 50px;
    border-radius: 0.5em;
    color:white;
    cursor:pointer;
    font-size:25px;
}
.ContentInicio{
    background-image:url("../image/Image_Place_Holder@2x.png");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 800px;
}
.ContentInicioEventos{
    background-image:url("../image/002_AJUSTADA.png");
    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    height: 850px;
}
.ContentInicioGen{
    background-image:url("../image/Grupo_3264@2x.png");
    background-repeat: no-repeat;
    background-image: fixed;
    background-position: center;
    background-size: contain;
	width:100%;
    height: 400px;
}
.Construccion{
    height:300px;
    width: 100%;
}
.Tutor{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 100%;
}

/* CORRECCIONES DE IMAGENESD DE SPEAKERS */
.img-speaker-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: auto;
    margin-bottom: 1.5em;
}

.ContentItemSlide td{
    width:200px;
}

.ContentItemSlide{
    padding-left:15%;
    padding-right:15%;
}
.ContentItemSlide span{
    color:white;
}
.DescTutor{
    font-size:10px;
    text-align:center;
}

.ContentItemSlide td{
    padding:10px;
}
.SlideImg{
    width:100%;
    height:auto;
    background-color:#8CC63F;
}

.GestionTecno{
    background-color:#F2F2F2;

    padding-top:2%;
    padding-bottom:2%;
    padding-left:15%;
    padding-right: 15%;
}
.Empr{
    padding-top:2%;
    padding-bottom:2%;
    padding-left:15%;
    padding-right: 15%;
}

.Empr video{
    width: 330px;
}

.GenImg{
    height: 250px;

}
.DescL{
    font-size:30px;
    vertical-align: middle;
    color:white;
    cursor:pointer;
    width: 0 !important;
}


.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.contentopcion{
    padding:10px;
    background-color: white;
    border-radius:0.5em;
}

.IconosMins{
    height: 40px;
}
.UbicationCe{
    position:absolute;
    top:40%;
    padding-left:10%;
    padding-right: 10%;
}
.Ubication{
    position:absolute;
    top:30%;
    padding-left:5%;
    padding-right: 5%;
}
.IconosNormal{
    height: 120px;
}
.listSpace{
    padding:5px;
    background-color:none;
}
.Ubication2{
    position:absolute;
    top:50%;
    padding-left:5%;
    padding-right: 5%;
}
.Titulos{
    color:#F16A22;
    font-size:16px;
}
.DivCerti{
    width:130px;
    padding:5px;
    border-radius:0.5em;
    -webkit-box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
-moz-box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
}
.Sombra{
    -webkit-box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
-moz-box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
box-shadow: 10px 10px 25px -5px rgba(112,112,112,1);
}
.Talleres{
    background: #000000 0% 0% no-repeat padding-box;
    border-radius: 28px;
    height: auto;

    padding:5px;
    padding-top:20px;
    opacity: 0.8;
}

.Play{
        position: fixed;
    top: 40%;
    left: 15%;
}






/* OPTIONS IN FOOTER BY: Kevin */

.info-footer-container{
    display: flex;
    flex-direction: row;
}

.info-footer-block ul{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: 0;
}

.info-footer-block ul li{
    padding: .7em 0 .7em 0;
}

.info-footer-block a, .info-footer-block li, .info-footer-block p{
    text-decoration: none;
    color: var(--white);
}

.info-footer-block a:hover{
    color: var(--teal);
}

.social-icons{
    display: flex;
    flex-direction: row !important;
}

.social-icons li{
    width:auto;
    padding: 1em 1em 0 0 !important;
    transition: .6s;
}

.social-icons li:hover{
    filter: grayscale(100%);
}

.social-icons li img{
    width: 40px;
}

.footerPage2 ul{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.footerPage2 ul li{
    width: auto;
    padding: 1em;
    margin: 2em;
    background-color: #fff;
    animation: 20s slideshow alternate infinite linear;
}

.footerPage2 ul li img{
    width: 90px;
}

@keyframes slideshow{
    0%{
        transform: translateX(410%);
    }

    100%{
        transform: translateX(-410%);
    }
}

/* END OPTIONS IN FOOTER */

/* Ponencias, invitados By: Kevin */

.titulo-invitados-container{
    display: block;
    margin: auto;
    width: 100%;
    padding:2em 0 2em 0;
}

.titulo-invitados-container h2, .titulo-invitados-container p{
    text-align: center;
    color: var(--white);
}

.ingresar{
    display: inline-block;
    border-radius: 35px;
    background-color: #111933;
    color: var(--white);
    padding: .8em 2em .8em 2em;
    margin-bottom: 3em;
    text-decoration: none !important;
}

.ingresar:hover{
    color: var(--teal);
}

.descarga-container{
    display: flex;
    justify-content: center;
    margin:2em 0 2em 0;
}

.descarga-container a{
    text-align: center;
    display: inline-block;
    padding: 1em 3em 1em 3em;
    background-color: #F2F2F2;
    color: #8CC63F;
    border-radius: 10px;
    font-size: 16px;
}

/* END Ponencias, invitados */

/* HEADER By: Kevin */

.MenuNavegacion a{
    color: #636B71;
}

/* END HEADER */

/* Pagina emprendimiento By: Kevin */

.header{
    width: 100%;
    background-image: url("../image/footer-Sennova@2x.png");
    background-size: cover;
    background-repeat:no-repeat;
    padding: 4em 0 4em 0;
    margin-bottom: 4rem;
}

.info-header-container{
    display: block;
    width: 70%;
    margin: auto;
}

.regresar-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.regresar-container a{
    padding: .4em 3em .4em 3em;
    background-color:#8CC63F;
    color: #fff;
    border-radius: 35px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
}

.regresar-container span{
    color: #8CC63F;
    align-self: center;
    margin-right: .6em;
    font-size: 32px;
}

.info-header{
    display: block;
    margin: auto;
    width: 40%;
}

.info-header span{
    display: block;
    margin: auto;
    width: 80px;
    height: 3px;
    background-color: #8CC63F;
    margin-bottom: 2em;
}

.info-header h2, .info-header p{
    text-align: center;
    color: #fff;
}

/* CSS GRID */

.grid-container{
    width: 80%;
    margin: auto;
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, var(--main-width-emprendimiento-blocks));
    justify-content: center;
}

.grid-img-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--main-width-emprendimiento-blocks);
    height: 230px;
    overflow: hidden;
    margin-bottom: 2em;
}

.element{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: var(--main-width-emprendimiento-blocks);
}

.element p{
    display: block;
    text-align: justify;
    width: 100%;
}

.element h2{
    font-size: 20px;
    text-align: left;
    width: 85%;
    color:#8CC63F;
}

.element video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2em;
}

.alone-title{
    text-align: center;
    margin: 2em 0 2em 0;
    color:#8CC63F;
}

.retos-grid-container{
    display: grid;
    margin: auto;
    grid-gap: 2em;
    width: 90%;
    grid-template-columns: repeat(5, 1fr);
    margin-bottom: 4em;
}

.retos-element{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    background-image: url('../image/emprendimiento/reto.png');
    background-size: 100px;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
    border-radius: 15px;
}

.retos-element p{
    color: var(--white);
    font-size: 18px;
    margin-right: 2em;
}

.retos-uno{
    background-color: #8CC63F;
}

.retos-dos{
    background-color: #111933;
}

.retos-tres{
    background-color: #7A7A7A;
}


/* END Pagina emprendimiento */



/* Pagina GaleriaTecnologica */



.dia_container1{
    width: 80%;
    margin: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill, 350px);
}


.dia_video{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: auto;
    width: 300;
    height: 250px;
    align-self: center;
}


.dia_video h2{
    font-size: 20px;
    text-align: left;
    width: 85%;
    color:#7A7A7A;
}

.dia_video video{
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: center;
    margin-bottom: 2em;
}




.dia_container2 {
  width: 80%;
  margin: auto;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, 400px);
}




/* END Pagina GaleriaTecnologica */


/* PAGINA EVENTOS */

#pavco{
    width: 70px;
    float: right;
    bottom: 0;
}

/* END PAGINA EVENTOS */
